@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #111826;
    color: #E5E7EB;
    font-family: 'Alata', sans-serif;
}

h1{
    font-size: 1.8rem;
}

li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 25rem;
    min-height: 40%;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-top: 10rem;
    padding: 2.5rem;
    box-shadow: 1px 0px 1.5px 5px rgba(207,193,193,0.75);
    -webkit-box-shadow: 1px 0px 1.5px 5px rgba(207,193,193,0.75);
    -moz-box-shadow: 1px 0px 1.5px 5px rgba(207,193,193,0.75);
}

.AppBackground {
    color:#bab5b5;
    padding-bottom: 1rem;
}

.loadingText{
    color: red;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.InputForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem; 
    font-size: 1.8rem;
    font-weight: bold;
}

.InputField{
    background-color: #FFFFFF;
    color: #302e2e;
    font-size: 1.125rem;
    padding: 0.20rem 0.5rem;
    border-radius: 0.35rem;
    text-transform: capitalize;
}

.Card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 0.1rem solid #18c3e6;
    border-radius: 0.25rem;
    margin: 1rem 0;
    padding: 0.5rem 1.25rem;
}

.ListItem {
    color: #E5E7EB;
    font-size: 1.25rem;
    list-style: none;
    justify-content: start;
    flex-wrap: nowrap;
    padding-right: 0.75rem;
}

.title{
    color: #E5E7EB;
    padding-right: 0.75rem;
    padding-bottom: 0.25rem;
    font-size: 1.35rem;
}

.AddButton{
    margin: 0 0 0 0.35rem;
    background-color: #11ff00 !important;
    color:rgb(22, 21, 21);
    padding: 0.2rem 1.25rem;
    font-size: 1.20rem;
    border: 0.0625rem solid white;
    border-radius: 0.25rem;
}
.AddButton:hover {
    background-color: #11e802 !important;
    font-size: 1.2350rem;
    cursor: pointer;
}

.buttonLabel{
    background-color: #E11D48 !important;
    color:#FFFFFF;
    padding: 0.2rem 1.25rem;
    font-size: 1.125rem;
    border: 0.0625rem solid white;
    border-radius: 0.25rem;
}

.buttonLabel:hover{
    background-color: #e71442 !important;
    padding: 0.275rem 1.35rem;
    cursor: pointer;
}

/* media query for 320px (20 rem) */

@media only screen and (max-width: 20rem) {
    
    h1{
        font-size: 1.4rem;
    }

    .container {
        max-width: 19rem;
        padding: 1.8rem;
        border: 0.125rem solid white;
        border-radius: 0.25rem;
    }    
    
    .loadingText{
        font-size: 1.25rem;
        padding: 0.75rem 0;
    }

    .title{
        padding-right: 0.75rem;
        padding-bottom: 0.2rem;
        font-size: 1.135rem;
    }

    .InputForm {
        padding-bottom: 1.05rem; 
        font-size: 0.8rem;
    }

    .InputField{
        font-size: 1.0rem;
        padding: 0.12rem 0.15rem;
        border-radius: 0.2rem;
    }

    .AddButton{
        margin: 0 0.0625rem;
        background-color: aqua;
    }

    .ListItem {
        font-size: 1.10rem;
    }

    .buttonLabel{
        padding: 0.12rem 0.625rem;
        font-size: 1.0rem;
        border: 0.0625rem solid white;
        border-radius: 0.2rem;
    }

}

/* TO-D0 */
/* remove the left border on the button */
/* Media queries */

